/* ==== GLOBAL SETTINGS ====*/
html {
	background: #17253d; /* Dark blue */
	/* background: url("../img/koreanmarket.jpg") no-repeat fixed center;*/
}

h1, ul {
	margin: 0;
	padding: 0;
}
/* ==== END OF GLOBAL SETTINGS ====*/

/* ==== TYPOGRAPHY ====*/
body {
	color: #fff; /* white */
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	font-size: 16px; 
	line-height: 1.5;
}
h1 {
	font-size: 2em;
	line-height: 1.25;
}

h2 {
	font-size: 1.6em;
	line-height: 1.2;
}

h3 {
	font-size: 1.4em;
	line-height: 1.15;
}
section {
	font-size: 1em;
}
/* ==== END OF TYPOGRAPHY ==== */


/* ==== LAYOUT ====*/
body {
	margin: 0 auto;
	width: 100%;
}

header {
	background: #214870; /* navy blue */
	padding: 35px;
	text-align: center;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

#about {
	background: rgba(115,155,195,0.7); /* light greyish blue, semi-transparent */
	text-align: center;
	padding: 3%;
}

main {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
}

#form-flex{
	display: flex;
	justify-content: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	padding: 0;
}

.stations {
	width: 100%;
	height: 20%;
	margin: auto;
	text-align: center;
}

.stations:nth-child(odd) {
	background: #949aa4;
	/* background: rgba(0,0,0,0.7); /* black, semi-transparent */
}

.stations:nth-child(even) {
	background: #535c6d;
	/* background: rgba(94,94,94,0.8); /* grey, semi-transparent */
}
/* ==== END OF LAYOUT ====*/

/* ==== GENERAL STYLES ==== */
select,
button {
	background: none;
	height: 25px;
	color: #fff; /* white */
	padding: 5px 15px;
	border: solid #fff 1px;
}

ul li {
	display: inline-block;
	margin: 5px 10px 0 0;
}

a {
	color: #fff;
}

a:hover {
	color: rgba(94,94,94,1)
}

input {
	background: #fff;
	padding: 5px 15px;
	border: solid #fff 1px
}
/* ==== END OF GENERAL STYLES ==== */

/* ==== GENERAL CLASSES ==== */
.mainNav  {
	margin-top: 20px;
}

.light-grey-bg {
	background: #CCCCCC; /* light grey */
}
/* ==== END OF GENERAL CLASSES ==== */

/* ==== POPUPS OPENED FROM .mainNav === */
.showPopups {
	background: #fff; /* white */
	color: black;
	position: absolute;
	margin: 1% auto;
	left: 0;
	right: 0;
	width: 90%;
	height: 90%;
	overflow: scroll;
	padding: 10px;
	z-index: 100;
}

.showPopups a {
	color: black;
}

.closePopup {
	display: block;
	color: black;
	position: absolute;
	right: 15px;
	top: -5px;
	cursor: pointer;
	font-size: 1.2em;
}

.observationList{
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.content-box {
	columns: 3 auto;
}

.content-box p {
	margin: 0;
	padding: 4px;
}
/* ==== END OF POPUPS OPENED FROM .mainNav ==== */

/* ===== Media Queries ===== */
@media screen and (min-width: 1100px) {
	#form-flex{
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
	}
	ul li {
		margin: 20px 10px 0 0;
	}
}

	/* ==== Responsive Layout ==== */
	@media screen and (min-width: 1100px) {
		/* Pushes main navigation to the right side of the header in larger screens */
		header {
			display: flex;
			flex: 1;
			justify-content: space-between;
			-webkit-flex-direction: row;
			-moz-flex-direction: row;
			-ms-flex-direction: row;
			-o-flex-direction: row;
			flex-direction: row;
		}
		.mainNav  {
			margin-top: -5px; 	
		}
	}
	@media screen and (min-width: 800px) {
		/* Stations width grown for displaying station sections in a row */
		.stations {
			width: 50%;
			height: 25vh;
		}
		/* Checkers background color black */
		.stations:nth-child(1),
		.stations:nth-child(4),
		.stations:nth-child(5) {
			background: #535c6d;
			/* background: rgba(0,0,0,0.7); */
		}
		/* Checkers background color grey */
		.stations:nth-child(2),
		.stations:nth-child(3),
		.stations:nth-child(6) {
			background: #949aa4;
			/* background: rgba(94,94,94,0.8); */
		}
		.showPopups {
			width: 55%;
		}
	}
	@media screen and (min-width: 550px) {
		body {
			width: 75%;
		}
	}
	/* ==== End of Responsive Layout ==== */

	/* ==== Responsive Typography ==== */
	@media screen and (min-width: 1100px) {
		section {
			font-size: 1.4;
			line-height: ;
		}
	}
	@media screen and (min-width: 800px) {
		section {
			font-size: 1.2em;
			line-height: ;
		}
	}
	@media screen and (min-width: 550px) {
		section {
			font-size: 1.1em;
			line-height: ;
		}
	}
	/* ==== End of Responsive Typography ==== */

/* ===== End of Media Queries ===== */