html {
	background: url("../img/koreanmarket.png") no-repeat fixed center;
}

body {
	margin: 0 auto;
	width: 100%;
}

header {
	background: #161E2B; /* dark blue */
	padding: 5px 25px;
	text-align: center;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

ul li {
	color: #fff; /* white */
	display: inline-block;
	margin: 5px 10px 0 0;
}

a {
	color: #fff;
}

a:hover {
	color: rgba(94,94,94,1)
}

main {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
}

h1, h2, p {
	color: #fff; /* white */
	font-family: 'Mukta Mahee', sans-serif; 
}

#form-flex{
	display: flex;
	justify-content: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

select, button {
	background: none;
	height: 25px;
	color: #fff; /* white */
	padding: 5px 15px;
	border: solid #fff 1px;
}

#temperature {
	background: #fff;
	padding: 5px 15px;
	border: solid #fff 1px
}

.stations {
	width: 100%;
	margin: auto;
	text-align: center;
}

.stations {
	height: 20%;
}

.submit {
	background: rgba(115,155,195,0.7); /* light greyish blue, semi-transparent */
	text-align: center;
	padding: 3% 0 ;
}

.stations:nth-child(odd) {
	background: rgba(0,0,0,0.7); /* black, semi-transparent */
}

.stations:nth-child(even) {
	background: rgba(94,94,94,0.8); /* grey, semi-transparent */
}

/* == Box for listing all the observations == */
.showPopups {
	background: rgba(255,255,255,0.95);
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 80%;
	height: 90%;
	overflow: scroll;
	padding: 10px;
	z-index: 100;
	border-radius: 25px;
}

.blackFont {
	color: black;
}

.close {
	color: black;
	position: absolute;
	right: 15px;
	top: -5px;
	cursor: pointer;
}


/* ===== Media Queries ===== */

@media screen and (min-width: 1100px) {
	/* Reveal hidden main navigation in larger screens */
	header {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
	}

	#form-flex{
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
	}

	ul li {
		color: #fff; /* white */
		display: inline-block;
		margin: 20px 10px 0 0;
	}
}

@media screen and (min-width: 800px) {

	header {
		display: flex;
		flex: 1;
		justify-content: space-between;
	}
	
	/* Stations width grown for displaying station sections in a row */
	.stations {
		width: 50%;
		height: 25vh;
	}

	/* Checkers background color black */
	.stations:nth-child(1),
	.stations:nth-child(4),
	.stations:nth-child(5) {
		background: rgba(0,0,0,0.7);
	}

	/* Checkers background color grey */
	.stations:nth-child(2),
	.stations:nth-child(3),
	.stations:nth-child(6) {
		background: rgba(94,94,94,0.8);
	}
}

@media screen and (min-width: 550px) {
	body {
		width: 75%;
	}
}
